#income-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
}

#income-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

.income-item{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.income-item input{
    border: none;
    border-radius: 5px;
    width: 40%;
    margin: 20px;
    padding: 8px;
}

.income-item input:focus{
    outline: none;
}

#income-button{
    border: none;
    border-radius: 5px;
    background-color: #FF0C72;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    width: 15%;
    margin: 30px;
    cursor: pointer;
}

#image img{
    width: 70%;
    margin-right: 40px;
    /* border: 2px solid red; */
}