.loginoptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-signin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
}

.email-signin-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

#google{
    margin: 45px;
    display: flex;
    justify-content: center;
}

#google img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#google-signin{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 5px 20px 5px 20px;
    padding-top: 5px;
    width: 150%;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
}

.login-option-button{
    border: none;
    border-radius: 5px;
    background-color: #FF0C72;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    width: 55%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 10px;
}

#line{
    margin-top: 20px;
    border: 1px solid rgb(108, 108, 108);
    width: 80%;
}